.jumbotron {
  background-color: rgba(0,179,180,1);
}

.panel-default > .panel-heading {
  background-color: rgba(0,179,180,1);
}

.overbtn {
  background-color: rgba(0,179,180,1);
  text-align: center;
}

#submitbtn {
  float: right;
}

body {
  background-image: url(../img/portland.jpg);
  background-size: height 100%;
  background-repeat: no-repeat;
  background-position: center;
}
